.card {
  margin: 0.5rem;
  border: 2px solid black;
}
.line {
  width: 50px;
  height: 5px;
  background-color: black;
  margin: 7px;
}
.menu {
  margin-top: 30px;
}
.list {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  display: none;
}
