/* .card {
  margin: 0.5rem;
  border: 2px solid black;
}
.line {
  width: 50px;
  height: 5px;
  background-color: black;
  margin: 7px;
}
.menu {
  margin-top: 30px;
}
.list {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  display: none; */
.wrapper {
  display: none;
}
.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.747);
}

.modal {
  background-color: rgb(161, 228, 255);
  position: relative;
  padding: 2rem;
  width: 400px;
  height: 300px;
  border: 3px solid rgba(165, 78, 78, 0.822);
  border-radius: 5px;
}
.roundButton {
  padding: 0.5rem;
  border-radius: 50%;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 40px;
  height: 40px;
}
